html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 21px;
  letter-spacing: 0.05em;
}

.container {
  width: 1200px;
  margin: 50px auto 0;
}

section {
  margin-bottom: 100px;
}

/* header section */

.header {
  padding: 16px 0;
}

.header__nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav__left:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.nav-link {
  line-height: 20px;
}

.nav-link:hover {
  color: #3a9abd;
}

/* main section */
/* overview section */
.overview {
  /* background-color: #dd7a24b6; */
  border-radius: 50px;
  border: 3px solid #3a9abd;
  overflow: hidden;
}

.overview__container {
  width: 300%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: 0.8s ease;
}

.overview__item {
  height: 600px;
}

.overview__info {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.overview__text {
  font-size: 40px;
}

#text {
  font-size: 26px;
}

.overview__control {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #3a9abd;
}

.bi:hover {
  cursor: pointer;
  background-color: #3a9abd;
  border-radius: 50%;
  color: white;
}

/* products section */
.title {
  font-size: 40px;
  font-weight: 600;
}

.products__items {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.products__card {
  padding: 20px 20px;
  background-color: #ecf4ff;
  border-radius: 20px;
  height: 250px;
}

.products__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.item__title {
  font-size: 28px;
}

.more {
  font-weight: 600;
  color: #1a7292;
  text-decoration: none;
}

.more:hover {
  color: #fff;
  text-decoration: none;
}

.products__card:hover {
  background-color: #3a9abd;
  color: #fff;
}

/* delivery section */
.delivery {
  margin: 40px auto;
}

.delivery__title {
  margin-bottom: 20px;
}

.delivery__subtitle {
  margin-bottom: 40px;
  font-size: 26px;
}

.delivery-form__container {
  padding: 28px 36px;
  border-radius: 36px;
  background-color: #ecf4ff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 48px;
  grid-template-areas:
    "a b"
    "c d"
    "e e";
}

#sender-input {
  grid-area: a;
}

#recipient-input {
  grid-area: b;
}

#quantity-input {
  grid-area: c;
}

#volume-input {
  grid-area: d;
}

#email-input {
  grid-area: e;
}

.delivery-form__block {
  display: flex;
  flex-direction: column;
}

.delivery-form__label {
  font-weight: 550;
  margin-bottom: 8px;
}

.delivery-form__input {
  padding: 10px 15px;
  background: #fff;
  border-radius: 15px;
  resize: none;
}

.delivery-form__input:focus {
  outline: 2px solid #3398bd;
}

.delivery-form__input.error {
  outline: 2px solid red;
}

.error-message {
  margin-top: 8px;
  height: 14px;
  font-size: 14px;
  color: red;
}

.delivery-form__submit {
  margin-top: 24px;
  display: inline-block;
  padding: 15px 32px;
  border-radius: 12px;
  border: none;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  background-color: #3a9abd;
  transition: 0.2s ease;
}

.delivery-form__submit:hover {
  cursor: pointer;
  background-color: white;
  color: #3a9abd;
}

/* footer section */
.footer {
  width: 100%;
  padding: 24px 0;
  border-top: 1px solid rgb(179, 179, 179);
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-part:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.footer-text {
  font-size: 20px;
}

.footer-link {
  color: #000;
  border-radius: 50%;
}

.footer-link:hover {
  cursor: pointer;
  background-color: #1a7292;
  color: #fff;
}
